ion-item {
    ion-label {
        font-size: 0.9rem !important;
        padding-bottom: 1rem;
    }
}

ion-input,
ion-select,
ion-textarea {
    --placeholder-color: #b1b1b1 !important;
    --padding-top: 0.3rem !important;
    --padding-end: 0.6rem !important;
    --padding-bottom: 0.3rem !important;
    --padding-start: 0.6rem !important;
    border: 1px solid var(--ion-color-tertiary);
    border-radius: 4px;
    padding: 0.3rem 0.6rem !important;
    font-size: 0.8rem !important;
}

// input {
//     padding: 0 !important;
// }