.default {
  --width: 25%;
  --border-radius: 4px;
}

.large {
  --width: 50%;
  --border-radius: 4px;
}

.coupon {
  --width: 30%;
  --border-radius: 4px;
}

.is20 {
  --height: 9rem;
}

.is25 {
  --height: 11.5rem;
}

.is30 {
  --height: 13.5rem;
}

.is35 {
  --height: 16rem;
}

.is40 {
  --height: 18.5rem;
}

.is45 {
  --height: 20rem;
}

.is50 {
  --height: 22.5rem;
}

.is55 {
  --height: 25rem;
}

.is60 {
  --height: 27.5rem;
}

.is70 {
  --height: 32.5rem;
}

.is90 {
  --height: 42.5rem;
}

.is110 {
  --height: 45rem;
}

