<div>
  <p
    style="
      margin: 4.6pt 19.75pt 0pt 108.55pt;
      text-indent: -65.7pt;
      line-height: 99%;
      font-size: 16pt;
    "
  >
    <strong
      ><span style="font-family: Tahoma; color: #231f20"
        >TERMO DE ADESÃO AO CONTRATO DE PRESTAÇÃO DE SERVIÇOS DE CONSULTORIA
        TELEMÁTICA</span
      ></strong
    >
  </p>
  <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 12pt">
    <strong><span style="font-family: Tahoma">&#xa0;</span></strong>
  </p>
  <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 12.5pt">
    <strong><span style="font-family: Tahoma">&#xa0;</span></strong>
  </p>
  <p
    style="
      margin: 0pt 13.25pt 0pt 14.4pt;
      text-align: justify;
      line-height: 106%;
      font-size: 9pt;
    "
  >
    <strong
      ><span style="font-family: Tahoma; color: #231f20"
        >COLETIVO EMPRESARIAL BRAX EMPRESAS LTDA.,
      </span></strong
    ><span style="color: #231f20"
      >pessoa jurídica de direito privado na forma de sociedade empresária
      limitada, inscrita no CNPJ/MF nº 26.639.595/0001-13, com sede na Rua
      Governador Valadares, nº 103 - Loja 1, Centro, Paraguaçu/MG, CEP
      37120-000, doravante denominada </span
    ><strong
      ><span style="font-family: Tahoma; color: #231f20"
        >CONTRATADA OU PRESTADORA.</span
      ></strong
    >
  </p>
  <p
    style="
      margin: 0pt 13.25pt 0pt 14.4pt;
      text-align: justify;
      line-height: 94%;
      font-size: 12pt;
    "
  >
    <strong
      ><span
        style="
          line-height: 94%;
          font-family: Tahoma;
          font-size: 8pt;
          color: #231f20;
        "
        ><sub>NOME</sub></span
      ></strong
    ><strong
      ><span
        style="
          line-height: 94%;
          font-family: Tahoma;
          font-size: 8pt;
          color: #231f20;
        "
        ><sub>/</sub></span
      ></strong
    ><strong><span style="font-family: Tahoma; color: #231f20"> </span></strong
    ><strong
      ><span
        style="
          line-height: 94%;
          font-family: Tahoma;
          font-size: 8pt;
          color: #231f20;
        "
        ><sub>RAZÃO SOCIAL:</sub></span
      ></strong
    ><strong><span style="font-family: Tahoma; color: #231f20"></span></strong
    ><strong
      ><span
        style="
          line-height: 94%;
          font-family: Tahoma;
          font-size: 8pt;
          color: #231f20;
        "
      >
        {{ call.client.nome }} &nbsp;
      </span></strong
    >
    <strong
      ><span style="font-family: Tahoma; font-size: 8pt; color: #231f20"
        ><sub>CPF:</sub></span
      ></strong
    ><strong
      ><span style="font-family: Tahoma; font-size: 8pt; color: #231f20"
        ><sub>/</sub></span
      ></strong
    ><strong><span style="font-family: Tahoma; color: #231f20"> </span></strong
    ><strong
      ><span style="font-family: Tahoma; font-size: 8pt; color: #231f20"
        ><sub>CNPJ:</sub></span
      ><strong
        ><span style="font-family: Tahoma; font-size: 8pt; color: #231f20"
          >{{ call.client.cpf }} &nbsp;</span
        ></strong
      ></strong
    >
    <span style="font-family: Tahoma"> </span
    ><strong
      ><span style="font-family: Tahoma; font-size: 8pt; color: #231f20"
        ><sub>ENDEREÇO:</sub></span
      ></strong
    ><strong>
      <span
        style="
          font-size: 8pt;
          font-family: Tahoma;
          color: #231f20;
          display: inline-block;
        "
      >
        {{ call.client.logradouro }} &nbsp;</span
      ></strong
    >
    <span style="font-family: Arial"> </span
    ><strong
      ><span style="font-family: Tahoma; font-size: 8pt; color: #231f20"
        ><sub>Nº:</sub></span
      ></strong
    ><strong>
      <span style="font-family: Tahoma; font-size: 8pt; color: #231f20">
        {{ call.client.numero }} &nbsp;
      </span>
    </strong>
    <strong>
      <span
        style="
          line-height: 99%;
          font-family: Tahoma;
          font-size: 8pt;
          color: #231f20;
        "
      >
        <sub>CEP:</sub>
      </span>
    </strong>
    <strong>
      <span style="font-family: Tahoma; font-size: 8pt; color: #231f20">
        {{ call.client.cep }} &nbsp;
      </span>
    </strong>
    <strong>
      <span
        style="
          line-height: 99%;
          font-family: Tahoma;
          font-size: 8pt;
          color: #231f20;
        "
      >
        <sub>CIDADE:</sub>
      </span>
    </strong>
    <strong>
      <span style="font-family: Tahoma; font-size: 8pt; color: #231f20">
        {{ call.client.cidade }} &nbsp;
      </span>
    </strong>
    <strong>
      <span
        style="
          line-height: 99%;
          font-family: Tahoma;
          font-size: 8pt;
          color: #231f20;
        "
      >
        <sub>UF: </sub>
      </span>
    </strong>
    <strong>
      <span style="font-family: Tahoma; font-size: 8pt; color: #231f20">
        {{ call.client.uf }} &nbsp;
      </span>
    </strong>
    <span *ngIf="call.client.complemento">
      <strong>
        <span style="font-family: Tahoma; font-size: 9pt; color: #231f20">
          COMPLEMENTO:
        </span>
      </strong>
      <span
        style="
          width: 395.95pt;
          font-family: Tahoma;
          font-size: 8pt;
          color: #231f20;
          display: inline-block;
        "
      >
        {{ call.client.complemento }} &nbsp; &#xa0;
      </span>
    </span>
    <span style="font-family: Tahoma; font-size: 8pt; color: #231f20">
      , doravante denominado CONTRATANTE / TOMADOR.
    </span>
  </p>
</div>
<div>
  <p style="margin-top: 0.1pt; margin-bottom: 0pt; font-size: 10pt">
    <strong><span style="font-family: Tahoma">&#xa0;</span></strong>
  </p>
  <p
    style="
      margin: 0pt 13.25pt 0pt 14.4pt;
      text-indent: 17.3pt;
      line-height: 106%;
      font-size: 9pt;
    "
  >
    <span style="color: #231f20"
      >As partes acima identificadas e devidamente qualificadas celebram o
      presente instrumento denominado </span
    ><strong
      ><span style="font-family: Tahoma; color: #231f20"
        >TERMO DE ADESÃO AO CONTRATO DE PRESTAÇÃO DE SERVIÇOS DE CONSULTORIA
        TELEMÁTICA
      </span></strong
    ><span style="color: #231f20"
      >que reger-se-á pelas disposições contidas no Contrato de Prestação de
      Serviços acima identificado.</span
    >
  </p>
  <p style="margin-top: 0.45pt; margin-bottom: 0pt; font-size: 9pt">&#xa0;</p>
  <ol type="1" style="margin: 0pt; padding-left: 0pt">
    <li
      style="
        margin-right: 19.85pt;
        margin-left: 15.7pt;
        line-height: 106%;
        font-size: 7pt;
        color: #231f20;
        list-style-position: inside;
      "
    >
      <span style="line-height: 106%; font-size: 9pt"
        >O presente instrumento aplica-se, única e exclusivamente aos serviços
        de consultoria telemática prestada pela CONTRATADA e relacionada à
        utilização das linhas e serviços com as seguintes especicidades:</span
      >
    </li>
  </ol>
  <p style="margin-top: 0.35pt; margin-bottom: 0.05pt; font-size: 6pt">
    &#xa0;
  </p>
  <table
    cellspacing="0"
    cellpadding="0"
    style="
      width: 521.3pt;
      margin-left: 13.5pt;
      border: 0.75pt solid #231f20;
      border-collapse: collapse;
    "
  >
    <tr style="height: 12.75pt">
      <td
        style="
          border-right: 0.75pt solid #231f20;
          border-bottom: 0.75pt solid #231f20;
          vertical-align: top;
        "
      >
        <p
          style="
            margin-top: 2.65pt;
            margin-bottom: 0pt;
            text-align: center;
            font-size: 8pt;
          "
        >
          <strong>
            <span style="font-family: Tahoma; color: #231f20">*</span>
          </strong>
        </p>
      </td>
      <td
        style="
          border-right: 0.75pt solid #231f20;
          border-left: 0.75pt solid #231f20;
          border-bottom: 0.75pt solid #231f20;
          vertical-align: top;
        "
      >
        <p
          style="
            margin-top: 2.65pt;
            text-align: center;
            font-size: 8pt;
            text-align: center;
          "
        >
          <strong>
            <span style="font-family: Tahoma; color: #231f20">OP</span>
          </strong>
        </p>
      </td>
      <td
        style="
          border-right: 0.75pt solid #231f20;
          border-left: 0.75pt solid #231f20;
          border-bottom: 0.75pt solid #231f20;
          vertical-align: top;
        "
      >
        <p
          style="margin: 2.65pt 2pt 0pt 2pt; font-size: 8pt; text-align: center"
        >
          <strong>
            <span style="font-family: Tahoma; color: #231f20">PX</span>
          </strong>
        </p>
      </td>
      <td
        style="
          border-right: 0.75pt solid #231f20;
          border-left: 0.75pt solid #231f20;
          border-bottom: 0.75pt solid #231f20;
          vertical-align: top;
        "
      >
        <p
          style="
            margin: 2.65pt 0.75pt 0pt 0.75pt;
            font-size: 8pt;
            text-align: center;
          "
        >
          <strong>
            <span style="font-family: Tahoma; color: #231f20">
              Linhas / Serviços
            </span>
          </strong>
        </p>
      </td>
      <td
        style="
          border-right: 0.75pt solid #231f20;
          border-left: 0.75pt solid #231f20;
          border-bottom: 0.75pt solid #231f20;
          vertical-align: top;
        "
      >
        <p
          style="
            margin: 2.65pt 0.75pt 0pt 0.75pt;
            font-size: 8pt;
            text-align: center;
          "
        >
          <strong>
            <span style="font-family: Tahoma; color: #231f20">
              ID ANEXO 1
            </span>
          </strong>
        </p>
      </td>
      <td
        style="
          border-right: 0.75pt solid #231f20;
          border-left: 0.75pt solid #231f20;
          border-bottom: 0.75pt solid #231f20;
          vertical-align: top;
        "
      >
        <p
          style="
            margin: 2.65pt 0.75pt 0pt 0.75pt;
            text-align: center;
            font-size: 8pt;
          "
        >
          <strong>
            <span style="font-family: Tahoma; color: #231f20">
              Benefícios Contratados
            </span>
          </strong>
        </p>
      </td>
      <td
        style="
          border-right: 0.75pt solid #231f20;
          border-left: 0.75pt solid #231f20;
          border-bottom: 0.75pt solid #231f20;
          vertical-align: top;
        "
      >
        <p
          style="
            margin: 2.65pt 0.75pt 0pt 0.75pt;
            text-align: center;
            font-size: 8pt;
          "
        >
          <strong>
            <span style="font-family: Tahoma; color: #231f20"> Valor </span>
          </strong>
        </p>
      </td>
      <td
        style="
          border-right: 0.75pt solid #231f20;
          border-left: 0.75pt solid #231f20;
          border-bottom: 0.75pt solid #231f20;
          vertical-align: top;
        "
      >
        <p style="margin: 2.65pt 0.75pt 0pt 0.75pt; font-size: 8pt">
          <strong
            ><span
              style="font-family: Tahoma; color: #231f20; text-align: center"
              >Descontos</span
            ></strong
          >
        </p>
      </td>
      <td
        style="
          border-left: 0.75pt solid #231f20;
          border-bottom: 0.75pt solid #231f20;
          vertical-align: top;
        "
      >
        <p
          style="
            margin: 2.65pt 0.75pt 0pt 0.75pt;
            text-align: center;
            font-size: 8pt;
          "
        >
          <strong
            ><span style="font-family: Tahoma; color: #231f20"
              >Total</span
            ></strong
          >
        </p>
      </td>
    </tr>
    <ng-container *ngFor="let item of call.products; let key = index">
      <tr style="height: 12.75pt">
        <td
          style="
            border-top: 0.75pt solid #231f20;
            border-right: 0.75pt solid #231f20;
            border-bottom: 0.75pt solid #231f20;
            vertical-align: top;
          "
        >
          <p
            style="
              margin: 2.65pt 0.75pt 0pt 0.75pt;
              text-align: center;
              line-height: 92%;
              font-size: 9pt;
            "
          >
            <span style="font-family: Arial">{{ key + 1 }}</span>
          </p>
        </td>
        <td style="border: 0.75pt solid #231f20; vertical-align: top">
          <p
            style="
              margin: 2.65pt 0.75pt 0pt 0.75pt;
              text-align: center;
              line-height: 95%;
              font-size: 9pt;
            "
          >
            <span style="font-family: Arial">VIVO</span>
          </p>
        </td>
        <td style="border: 0.75pt solid #231f20; vertical-align: top">
          <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 9pt; text-align: center;">
            <span style="font-family: 'Times New Roman'">015</span>
          </p>
        </td>
        <td style="border: 0.75pt solid #231f20; vertical-align: top">
          <p
            style="
              margin: 2.65pt 0.75pt 0pt 0.75pt;
              line-height: 94%;
              font-size: 9pt;
            "
          >
            <span
              *ngIf="item.product.type == 'Telefonia Móvel'"
              style="font-family: Arial"
              >{{ call.client.celular }}</span
            >
            <span
              *ngIf="item.product.type == 'Telefonia Fixa'"
              style="font-family: Arial"
              >{{ call.client.telefone }}</span
            >
            <span
              *ngIf="item.product.type == 'Banda Larga'"
              style="font-family: Arial"
              >{{ item.product.type }}</span
            >
          </p>
        </td>
        <td style="border: 0.75pt solid #231f20; vertical-align: top">
          <p
            style="
              margin-top: 0pt;
              margin-bottom: 0pt;
              font-size: 9pt;
              text-align: center;
            "
          >
            <span style="font-family: 'Times New Roman'">23</span>
          </p>
        </td>
        <td style="border: 0.75pt solid #231f20; vertical-align: top">
          <p
            style="
              margin: 2.65pt 0.75pt 0pt 0.75pt;
              text-align: left;
              line-height: 94%;
              font-size: 9pt;
            "
          >
            <span style="font-family: Arial">{{ item.product.title }}</span>
          </p>
        </td>
        <td style="border: 0.75pt solid #231f20; vertical-align: top">
          <p
            style="
              margin: 2.65pt 0.75pt 0pt 0.75pt;
              line-height: 95%;
              text-align: left;
              font-size: 9pt;
            "
          >
            <span style="font-family: Arial">{{
              getFormattedPrice(item.product.price)
            }}</span>
          </p>
        </td>
        <td style="border: 0.75pt solid #231f20; vertical-align: top">
          <p
            style="
              margin: 2.65pt 0.75pt 0pt 0.75pt;
              line-height: 95%;
              font-size: 9pt;
              text-align: left;
            "
          >
            <span style="font-family: Arial">{{
              0 | number : "1.2-2" : "pt-BR"
            }}</span>
          </p>
        </td>
        <td
          style="
            border-top: 0.75pt solid #231f20;
            border-left: 0.75pt solid #231f20;
            border-bottom: 0.75pt solid #231f20;
            vertical-align: top;
          "
        >
          <p
            style="
              margin: 2.65pt 0.75pt 0pt 0.75pt;
              text-align: left;
              line-height: 94%;
              font-size: 9pt;
            "
          >
            <span style="font-family: Arial">{{
              getFormattedPrice(item.product.price)
            }}</span>
          </p>
        </td>
      </tr>
    </ng-container>
  </table>
  <p
    style="margin: 3.95pt 178.05pt 0pt 15pt; line-height: 106%; font-size: 9pt"
  >
    <strong>
      <span style="font-family: Tahoma; color: #231f20"> Legenda: </span>
    </strong>
    <br />
    <strong>
      <span style="font-family: Tahoma; color: #231f20">*(1)&nbsp;</span>
    </strong>
    <span style="color: #231f20">Linha pertencente ao </span>
    <strong>
      <span style="font-family: Tahoma; color: #231f20">TOMADOR</span>
    </strong>
    <br />
    <strong>
      <span style="font-family: Tahoma; color: #231f20">*(2)&nbsp;</span>
    </strong>
    <span style="color: #231f20">Linha pertencente ao </span>
    <strong>
      <span style="font-family: Tahoma; color: #231f20">PRESTADOR</span>
    </strong>
    <br />
    <strong>
      <span style="font-family: Tahoma; color: #231f20">*PX:&nbsp;</span>
    </strong>
    <span style="color: #231f20">Prefixo da operadora (se houver)</span>
    <br />
    <strong>
      <span style="font-family: Tahoma; color: #231f20">*OP:&nbsp;</span>
    </strong>
    <span style="color: #231f20">Operadora ou fornecedora do produto</span>
  </p>
</div>
<br style="clear: both; mso-break-type: section-break" />
<div>
  <p
    style="
      margin-top: 0pt;
      margin-left: 15.45pt;
      margin-bottom: 0pt;
      line-height: 97%;
      font-size: 12pt;
    "
  >
    <span style="line-height: 97%; font-size: 9pt; color: #231f20">
      O presente termo terá vigência de 12 (doze) meses, com início na data
      {{ currentDate | date : "dd/MM/yyyy" }} e término na data
      {{ endDate | date : "dd/MM/yyyy" }}.O CONTRATANTE pagará à PRESTADORA o
      valor mensal e fixo de R$
      {{ getValorTotal() | number : "1.2-2" : "pt-BR" }} com vencimento no dia
      {{ call.date }} do mês subsequente ao início da prestação de
      serviços.</span
    >
  </p>
  <p style="margin-top: 0.45pt; margin-bottom: 0pt; font-size: 13pt">&#xa0;</p>
  <ol start="3" type="1" style="margin: 0pt; padding-left: 0pt">
    <li
      style="
        margin-right: 20.45pt;
        margin-left: 15.45pt;
        line-height: 131%;
        font-size: 7pt;
        color: #231f20;
        list-style-position: inside;
      "
    >
      <span style="line-height: 131%; font-size: 9pt"
        >O pagamento do valor acima convencionado será realizado através de
        boleto bancário ou, na sua falta, por qualquer outro meio de pagamento
        que vier a ser indicado pela CONTRATADA / PRESTADORA na ocasião. A
        inadimplência aos pagamentos contratados sujeitará o CONTRATANTE ao
        pagamento dos encargos e às sanções previstas no contrato a que se adere
        por meio deste termo.</span
      >
    </li>
  </ol>
  <p style="margin-top: 0.25pt; margin-bottom: 0pt; font-size: 9pt">&#xa0;</p>
  <ol start="4" type="1" style="margin: 0pt; padding-left: 0pt">
    <li
      style="
        margin-right: 9pt;
        margin-left: 15.45pt;
        font-size: 7pt;
        color: #231f20;
        list-style-position: inside;
      "
    >
      <span style="font-size: 9pt"
        >A emissão do boleto bancário e seu envio ao CONTRATANTE / TOMADOR será
        de responsabilidade da CONTRATADA / PRESTADORA, que o enviará por meio
        de um dos seguintes meios: ( ) Correios ( ) E-mail:</span
      ><span style="font-family: 'Times New Roman'; font-size: 9pt"
        >              </span
      ><span style="font-size: 9pt">,</span>
    </li>
  </ol>
  <p
    style="
      margin-top: 0pt;
      margin-left: 15.45pt;
      margin-bottom: 0pt;
      line-height: 110%;
      font-size: 12pt;
    "
  >
    <span style="line-height: 110%; font-size: 9pt; color: #231f20"
      >Whatsapp: ( )</span
    ><span style="font-family: Arial"> </span
    ><span style="width: 93.52pt; font-family: Arial; display: inline-block"
      >&#xa0;</span
    ><span style="line-height: 110%; font-size: 9pt; color: #231f20"
      >, ou por qualquer outro meio aplicativo de mensagens autorizado pelo
      CONTRATANTE.</span
    >
  </p>
  <p style="margin-top: 0.45pt; margin-bottom: 0pt; font-size: 11.5pt">
    &#xa0;
  </p>
  <ol start="5" type="1" style="margin: 0pt; padding-left: 0pt">
    <li
      style="
        margin-right: 21.7pt;
        margin-left: 15.45pt;
        line-height: 131%;
        font-size: 7pt;
        color: #231f20;
        list-style-position: inside;
      "
    >
      <span style="line-height: 131%; font-size: 9pt"
        >O CONTRATANTE, neste ato, declara estar ciente e ter conhecimento pleno
        de todas as cláusulas contratuais a que adere, cujo conteúdo do contrato
        já lhe foi previamente enviado pelos meios eletrônicos que constam da
        Cláusula 4.</span
      >
    </li>
  </ol>
  <p style="margin-top: 0.3pt; margin-bottom: 0pt">&#xa0;</p>
  <p
    style="
      margin-top: 0pt;
      margin-left: 15.45pt;
      margin-bottom: 0pt;
      font-size: 9pt;
    "
  >
    <span style="color: #231f20"
      >Assim, por estarem justos e contratados, assinam o presente termo em duas
      vias de igual teor e forma.</span
    >
  </p>
  <p style="margin-top: 0.1pt; margin-bottom: 0pt; font-size: 15pt">&#xa0;</p>
  <p
    style="
      margin-top: 4.7pt;
      margin-left: 49.6pt;
      margin-bottom: 0pt;
      font-size: 12pt;
    "
  >
    <strong>
      <span style="font-family: Tahoma; font-size: 9pt; color: #231f20">
        Local: {{ call.client.cidade }}
      </span>
    </strong>
    <span style="width: 23.18pt; font-family: Arial; display: inline-block">
      &#xa0;
    </span>
    <span style="width: 152pt; font-family: Arial; display: inline-block">
      &#xa0;
    </span>
    <strong>
      <span style="font-family: Tahoma; font-size: 9pt; color: #231f20">
        Data: {{ formattedDate }}.
      </span>
    </strong>
  </p>
  <p style="margin-top: 0pt; margin-bottom: 0pt; font-size: 12.5pt">
    <strong><span style="font-family: Tahoma">&#xa0;</span></strong>
  </p>
  <p
    style="
      margin-top: 5.1pt;
      margin-left: 15.8pt;
      margin-bottom: 0pt;
      text-align: justify;
      font-size: 9pt;
    "
  >
    <strong
      ><span style="font-family: Tahoma; color: #231f20"
        >PRESTADORA: COLETIVO EMPRESARIAL BRAX EMPRESAS LTDA.</span
      ></strong
    >
  </p>
  <p style="margin-top: 0.1pt; margin-bottom: 0pt; font-size: 12.5pt">
    <strong><span style="font-family: Tahoma">&#xa0;</span></strong>
  </p>
  <p
    style="
      margin: 0pt 32.05pt 0pt 15.8pt;
      text-align: justify;
      line-height: 99%;
      font-size: 18.5pt;
    "
  >
    <strong
      ><span
        style="
          line-height: 99%;
          font-family: Tahoma;
          font-size: 9pt;
          color: #231f20;
        "
        >TOMADOR:</span
      ></strong
    ><span
      style="
        width: 205.51pt;
        line-height: 99%;
        font-family: Arial;
        font-size: 12.33pt;
        display: inline-block;
      "
      ><sup>&#xa0;</sup></span
    ><strong
      ><span
        style="
          line-height: 99%;
          font-family: Tahoma;
          font-size: 9pt;
          color: #231f20;
        "
        >CPF/CNPJ:_______________________________________________________________________________</span
      ></strong
    >
  </p>
  <p
    style="
      margin: 0pt 32.05pt 0pt 15.8pt;
      text-align: justify;
      line-height: 99%;
      font-size: 9pt;
    "
  >
    <strong
      ><span style="font-family: Tahoma; color: #231f20">&#xa0;</span></strong
    ><strong
      ><span style="font-family: Tahoma; color: #231f20"
        >REP. LEGAL:</span
      ></strong
    ><span
      style="
        width: 197.65pt;
        font-family: 'Times New Roman';
        display: inline-block;
      "
      >&#xa0;</span
    ><span style="font-family: 'Times New Roman'; color: #231f20"> </span>
  </p>
  <p
    style="
      margin: 0pt 32.05pt 0pt 15.8pt;
      text-align: justify;
      line-height: 99%;
      font-size: 9pt;
    "
  >
    <strong
      ><span style="font-family: Tahoma; color: #231f20">&#xa0;</span></strong
    >
  </p>
  <p
    style="
      margin: 0pt 32.05pt 0pt 15.8pt;
      text-align: justify;
      line-height: 99%;
      font-size: 9pt;
    "
  >
    <strong
      ><span style="font-family: Tahoma; color: #231f20"
        >CPF/CNPJ:___________________________________________________________
      </span></strong
    >
  </p>
  <p
    style="
      margin: 0pt 32.05pt 0pt 15.8pt;
      text-align: justify;
      line-height: 99%;
      font-size: 12pt;
    "
  >
    <strong
      ><span
        style="
          line-height: 99%;
          font-family: Tahoma;
          font-size: 9pt;
          color: #231f20;
        "
        >Testemunha 1</span
      ></strong
    ><span style="width: 191.51pt; font-family: Arial; display: inline-block"
      >&#xa0;</span
    ><span style="width: 1.75pt; font-family: Arial; display: inline-block"
      >&#xa0;</span
    >
  </p>
  <p
    style="
      margin: 0pt 32.05pt 0pt 15.8pt;
      text-align: justify;
      line-height: 99%;
      font-size: 9pt;
    "
  >
    <strong
      ><span style="font-family: Tahoma; color: #231f20">&#xa0;</span></strong
    >
  </p>
  <p
    style="
      margin: 0pt 32.05pt 0pt 15.8pt;
      text-align: justify;
      line-height: 99%;
      font-size: 9pt;
    "
  >
    <strong
      ><span style="font-family: Tahoma; color: #231f20"
        >CPF/CNPJ:____________________________________________________________</span
      ></strong
    >
  </p>
  <p
    style="
      margin: 0pt 32.05pt 0pt 15.8pt;
      text-align: justify;
      line-height: 99%;
      font-size: 9pt;
    "
  >
    <strong
      ><span style="font-family: Tahoma; color: #231f20"
        >Testemunha
        2:_______________________________________________________</span
      ></strong
    >
  </p>
  <p
    style="
      margin: 0pt 32.05pt 0pt 15.8pt;
      text-align: justify;
      line-height: 99%;
      font-size: 9pt;
    "
  >
    <strong
      ><span style="font-family: Tahoma; color: #231f20">&#xa0;</span></strong
    >
  </p>
  <p
    style="
      margin: 0pt 32.05pt 0pt 15.8pt;
      text-align: justify;
      line-height: 99%;
      font-size: 9pt;
    "
  >
    <strong
      ><span style="font-family: Tahoma; color: #231f20">&#xa0;</span></strong
    >
  </p>
  <p
    style="
      margin: 0pt 32.05pt 0pt 15.8pt;
      text-align: justify;
      line-height: 99%;
      font-size: 9pt;
    "
  >
    <strong
      ><span style="font-family: Tahoma; color: #231f20"
        >CPF/CNPJ:___________________________________________________________</span
      ></strong
    >
  </p>
  <p
    style="
      margin: 0pt 32.05pt 0pt 15.8pt;
      text-align: justify;
      line-height: 99%;
      font-size: 12pt;
    "
  >
    <strong
      ><span
        style="
          line-height: 99%;
          font-family: Tahoma;
          font-size: 9pt;
          color: #231f20;
        "
        >Contratante:
      </span></strong
    ><span style="width: 195.47pt; font-family: Arial; display: inline-block"
      >&#xa0;</span
    ><span style="width: 1.75pt; font-family: Arial; display: inline-block"
      >&#xa0;</span
    >
  </p>
  <p
    style="
      margin: 0pt 32.05pt 0pt 15.8pt;
      text-align: justify;
      line-height: 99%;
      font-size: 9pt;
    "
  >
    <strong
      ><span style="font-family: Tahoma; color: #231f20">&#xa0;</span></strong
    >
  </p>
  <p
    style="
      margin: 0pt 32.05pt 0pt 15.8pt;
      text-align: justify;
      line-height: 99%;
      font-size: 9pt;
    "
  >
    <strong
      ><span style="font-family: Tahoma; color: #231f20"
        >Contratada:__________________________________________________________
      </span></strong
    >
  </p>
  <p
    style="
      margin: 0pt 32.05pt 0pt 15.8pt;
      text-align: justify;
      line-height: 99%;
      font-size: 14pt;
    "
  >
    <strong
      ><span
        style="
          line-height: 99%;
          font-family: Tahoma;
          font-size: 9pt;
          color: #231f20;
        "
        >Testemunha 1:</span
      ></strong
    ><span style="width: 188.24pt; font-family: Arial; display: inline-block"
      >&#xa0;</span
    ><span style="font-family: Arial"> </span>
  </p>
  <p
    style="
      margin: 0pt 32.05pt 0pt 15.8pt;
      text-align: justify;
      line-height: 99%;
      font-size: 9pt;
    "
  >
    <strong
      ><span style="font-family: Tahoma; color: #231f20"
        >Testemunha
        2:_______________________________________________________</span
      ></strong
    >
  </p>
  <p style="margin-top: 0.45pt; margin-bottom: 0pt; font-size: 9.5pt">
    <strong><span style="font-family: Tahoma">&#xa0;</span></strong>
  </p>
  <p
    style="
      margin: 0pt 13.25pt 0pt 14.4pt;
      font-size: 9pt;
    "
  >
    <strong><span style="font-family: Tahoma; color: #231f20">¹ </span></strong
    ><span style="color: #231f20"
      >Registro do contrato no Cartório de Títulos e Documentos Civil e Pessoas
      Jurídicas da Comarca de Paraguaçu. Livro B-44, nº 4738, pág. 10.</span
    >
  </p>
</div>
