<ion-content [fullscreen]="true">
  <div class="flex flex-col items-center justify-center w-full h-full px-4">
    <h1 class="text-[1rem] font-bold w-full text-center">Comissão Individual</h1>

    <p class="text-[0.8rem] font-bold w-full text-left mt-6 ml-6">Colaborador</p>
    <div class="flex items-end w-full h-16 mb-2">
      <ion-item class="w-full" lines="none">
        <ion-label position="stacked">Colaborador*</ion-label>
        <ion-select cancelText="Cancelar" okText="Confirmar" *ngIf="contributor.length > 0 && !isClicked"
          (ionChange)="select_contributor($event)" class="w-full" placeholder="Selecione um colaborador" required>
          <ng-container *ngFor="let item of contributor">
            <ion-select-option value="{{item.id}}">
              {{item.nome}}
            </ion-select-option>
          </ng-container>
        </ion-select>
        <ion-input [(ngModel)]="contributorName" type="text" *ngIf="isClicked" readonly></ion-input>
        <!-- <ion-input [formControl]="$any(form).get('contributor').value.nome" type="text" *ngIf="isClicked" readonly></ion-input> -->
      </ion-item>
      <ion-item class="w-full" lines="none">
        <ion-label position="stacked">Código</ion-label>
        <ion-input [formControl]="$any(form).get('code')" type="text"
          placeholder="Informe o cliente para completar o código"></ion-input>
      </ion-item>
      <ng-container class="w-[10%]">
        <ion-button class="h-[2rem] mt-0 mb-0" [disabled]="!$any(form).get('code').value"
          (click)="getContributorByCode()">
          <ion-icon class="h-[1rem]" color="light" name="search-outline"></ion-icon>
        </ion-button>
      </ng-container>

    </div>
    <div class="flex items-center w-full h-16">
      <ion-item class="w-full" lines="none">
        <ion-label position="stacked">Situação*</ion-label>
        <ion-select cancelText="Cancelar" okText="Confirmar" [formControl]="$any(form).get('status')" class="w-full"
          placeholder="Selecione" required>
          <ng-container>
            <ion-select-option value="ATIVO">Ativo</ion-select-option>
            <ion-select-option value="INATIVO">Inativo</ion-select-option>
          </ng-container>
        </ion-select>
      </ion-item>
      <ion-item class="w-full" lines="none">
        <ion-label position="stacked">Contato*</ion-label>
        <ion-input [formControl]="$any(form).get('email')" type="email" placeholder="colab123@gmail.com"
          readonly></ion-input>
      </ion-item>
    </div>

    <p class="text-[0.8rem] font-bold w-full text-left mt-6 ml-6">Comissão por serviço</p>
    <div class="flex items-center w-full h-16">
      <ion-item class="w-full" lines="none">
        <ion-label position="stacked">Tipo*</ion-label>
        <ion-select cancelText="Cancelar" okText="Confirmar" [formControl]="$any(form).get('service_type')"
          class="w-full" placeholder="Selecione a comissão" required>
          <ng-container *ngFor="let item of filterType('service')">
            <ion-select-option [value]="item">
              {{ item.title }}
            </ion-select-option>
          </ng-container>
        </ion-select>
      </ion-item>
      <ion-item class="w-full" lines="none">
        <ion-label position="stacked">Meta*</ion-label>
        <ion-input [formControl]="$any(form).get('service_goal')" type="text" placeholder="R$ 0,00" mask="***,**" (keypress)="onlyNumber($event)"></ion-input>
      </ion-item>
      <ion-item class="w-full" lines="none">
        <ion-label position="stacked">Comissão* (%)</ion-label>
        <ion-input [formControl]="$any(form).get('service_commission')" type="number" placeholder="5%" (keypress)="onlyNumber($event)" min="0"></ion-input>
      </ion-item>
    </div>

    <p class="text-[0.8rem] font-bold w-full text-left mt-6 ml-6">Comissão por produto</p>
    <div class="flex items-center w-full h-16">
      <ion-item class="w-full" lines="none">
        <ion-label position="stacked">Tipo*</ion-label>
        <ion-select cancelText="Cancelar" okText="Confirmar" [formControl]="$any(form).get('product_type')"
          class="w-full" placeholder="Selecione a comissão" required>
          <ng-container *ngFor="let item of filterType('product')">
            <ion-select-option [value]="item">
              {{ item.title }}
            </ion-select-option>
          </ng-container>
        </ion-select>
      </ion-item>
      <ion-item class="w-full" lines="none">
        <ion-label position="stacked">Meta*</ion-label>
        <ion-input [formControl]="$any(form).get('product_goal')" type="text" placeholder="R$ 0,00" mask="***,**" (keypress)="onlyNumber($event)"></ion-input>
        <!-- <ion-input [formControl]="$any(form).get('product_goal')" type="number" placeholder="R$ 0,00"></ion-input> -->
      </ion-item>
      <ion-item class="w-full" lines="none">
        <ion-label position="stacked">Comissão* (%)</ion-label>
        <ion-input [formControl]="$any(form).get('product_commission')" type="number" placeholder="5%" (keypress)="onlyNumber($event)" min="0"></ion-input>
      </ion-item>
    </div>

    <div class="flex items-center justify-center w-full gap-4 mt-6">
      <ion-button class="text-[0.8rem] w-[20%]" expand="block" fill="outline" (click)="dismiss()">
        <ion-label class="capitalize" color="primary">Cancelar</ion-label>
      </ion-button>
      <ion-button class="text-[0.8rem] w-[20%]" expand="block" (click)="save()">
        <ion-label class="capitalize" color="light">Lançar</ion-label>
      </ion-button>
    </div>
  </div>
</ion-content>